@charset "UTF-8";

body {
  font-family: "Roboto", sans-serif;
}

.header {
  padding: 15px 0;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts__phone {
  font-size: 22px;
  color: rgb(55, 55, 55);
  margin-right: 13px;
}

.header-contacts__phone:first-child {
  border-right: 1px solid #cfcfd0;
  padding-right: 13px;
}

.header-contacts__button {
  font-size: 14px;
  font-weight: 400;
}

.button {
  font-size: 14px;
  background-color: #ff9d00;
  border: 1px solid transparent;
  color: #ffffff;
  padding: 13px 22px;
  border-right: 5px;
  border-radius: 4px;
}

.button:hover {
  background-color: #ffa71a;
  cursor: pointer;
}

.button img {
  vertical-align: middle;
}

.button_big {
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: middle;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

input,
button {
  outline: none;
}

.wrapper {
  padding: 30px;
  min-height: 100%;
}

/* ----------------------*/

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=__container] {
  max-width: 1087px;
  margin: 0px auto;
  padding: 0 15px;
}

/* ----------------------*/

/* Флекс */

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  background-color: #fff;
}

.block__body {
  padding: 0 0 0 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
}

/* ----------------------*/

.title {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  margin: 0 0 30px 0;
}

.image-slider {
  padding: 30px 0 70px 0;
}

.image-slider__image {
  text-align: center;
}

.image-slider__wrapper img {
  max-width: 100%;
}

.main {
  position: relative;
  padding-top: 65px;
  padding-bottom: 60px;
  background: #373737 url("/img/main/main-bg.jpg") center no-repeat;
  background-size: cover;
  color: #ffffff;
  z-index: 2;
}

.main::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.main-text__title {
  font-size: 41px;
  font-weight: bold;
  margin-bottom: 20px;
  z-index: 2;
}

.main-text__subtitle {
  margin-bottom: 27px;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.024;
}

.main-img {
  position: relative;
}

.main-img::before {
  content: "";
  position: absolute;
  width: 390px;
  height: 390px;
  left: 50%;
  margin-left: -175px;
  border: 1px solid #79796a;
  border-radius: 50%;
  z-index: -1;
}

.main-text__form {
  padding: 30px 27px;
  background-color: rgba(255, 255, 255, 0.2);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.form-title {
  padding-right: 87px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.form-title__important {
  font-weight: 700;
  text-transform: uppercase;
}

.form_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__input {
  padding: 20px;
  margin-right: 10px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  vertical-align: middle;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.form-small {
  font-style: 14px;
  font-weight: 300;
}

.animate__fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.animate__fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.animate__fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.animate__fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.overlay {
  position: fixed;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.popup {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 766px;
  max-height: 361px;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.popup__body {
  background-image: url(../img/modal/01.jpg);
  background-size: cover;
  text-align: center;
  padding: 36px 82px 46px 82px;
}

.popup__image {
  position: relative;
}

.popup__img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 1;
}

.popup__close {
  position: absolute;
  right: -20px;
  top: -30px;
  font-size: 35px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
}

.popup__block {
  padding: 24px 0;
  background-color: #ff9d00;
}

.popup__title {
  font-size: 21px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.048;
  text-align: center;
}

.text-popup__title {
  margin: 0px 0px 20px 0px;
  max-width: 580px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  line-height: 0.9;
}

.text-popup__title span {
  font-size: 25px;
}

.text-popup__subtitle {
  font-size: 20px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  margin-bottom: 15px;
}

.popup__button {
  font-size: 15px;
  color: rgb(255, 255, 255);
  line-height: 1.467;
  text-align: center;
  text-decoration: none;
  z-index: 5;
}

.popup__label {
  margin-top: 5px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 2.143;
  text-align: center;
}

.popup__tel {
  padding-left: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-right: 15px;
  width: 365px;
  font-size: 14px;
  color: rgba(55, 55, 55, 0.702);
  line-height: 3;
}

.features {
  background-color: #f4f4f4;
}

.features__container {
  padding: 50px 5px 55px 5px;
}

.value-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 37px 0;
}

.value-features__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  text-align: center;
}

.value-features__number {
  margin: 0 0 10px 0;
  font-size: 36px;
  font-weight: 900;
  color: rgb(243, 144, 3);
  text-transform: uppercase;
  line-height: 0.556;
}

.value-features__number sup {
  font-size: 25px;
}

.value-features__title {
  font-weight: 500;
  max-width: 270px;
  margin: auto;
}

.features__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
}

.block-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 28px 19px 28px 12px;
  background-color: #fff;
  max-width: 294px;
}

.block-features {
  margin: 0 30px 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-features__img {
  padding-right: 10px;
}

.block-features__title {
  font-size: 15px;
  color: rgb(55, 55, 55);
  font-weight: bold;
  line-height: 1.267;
}

.block-features__descr {
  font-size: 15px;
  color: rgb(55, 55, 55);
  line-height: 1.267;
  max-width: 202px;
}

.animate__fadeInLeft {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.products {
  padding: 60px 0 70px 0;
  background-color: #fff;
}

.products__title {
  position: relative;
  margin-bottom: 45px;
  text-align: center;
  font-size: 27px;
  color: rgb(49, 49, 49);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.667;
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.products__title::after {
  content: url(../img/products/line.png);
  bottom: -12px;
  left: 48%;
  position: absolute;
}

.products__title._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

.row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.row:not(:last-child) {
  padding-bottom: 36px;
}

.products-block__img {
  max-height: 300px;
  padding-bottom: 20px;
}

.products-block__title {
  font-size: 20px;
  font-family: "Roboto";
  color: rgb(49, 49, 49);
  line-height: 1;
}

.products-block__title:not(:last-child) {
  padding-bottom: 28px;
}

.button-o {
  padding-right: 12px;
  background-color: rgba(13, 13, 13, 0);
  color: #afafaf;
  border: 1px solid #9b9b9b;
}

.offer {
  position: relative;
  padding: 65px 5px;
}

.offer__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.offer__img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.offer__title {
  margin-bottom: 35px;
  position: relative;
  font-size: 32px;
  color: rgb(255, 255, 255);
  line-height: 1.094;
  text-align: center;
  z-index: 5;
  -webkit-transform: translate(0px, 50%);
      -ms-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.offer__title span {
  font-size: 28px;
}

.offer__title._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

.offer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 5;
}

.offer__label-number {
  margin-bottom: 17px;
  text-align: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  font-weight: 300;
}

.form_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__input:not(:last-child) {
  margin-bottom: 12px;
}

.offer__input {
  width: 365px;
}

.offer__input::-webkit-input-placeholder {
  text-align: center;
}

.offer__input::-moz-placeholder {
  text-align: center;
}

.offer__input:-ms-input-placeholder {
  text-align: center;
}

.offer__input::-ms-input-placeholder {
  text-align: center;
}

.offer__input::placeholder {
  text-align: center;
}

.offer__btn {
  max-width: 180px;
}

.offer__small {
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 2.143;
  text-align: center;
}

.making__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 90px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.making__images {
  margin: 0 25px 0 0;
}

.images-making__big {
  margin: 0 0 13px 0;
}

.images-making__small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}

.images-making__item:hover {
  cursor: pointer;
  opacity: 0.8;
}

.body-making {
  max-width: 374px;
}

.body-making__title {
  background-color: #ff9d00;
  margin-bottom: 28px;
  padding: 18px 0;
  text-align: center;
  font-size: 28px;
  color: rgb(255, 255, 255);
  line-height: 0.786;
}

.body-making__text {
  font-size: 16px;
  color: rgb(55, 55, 55);
  line-height: 1.5;
}

.animate__fadeOut {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.clients__container {
  padding: 0 10px 60px 10px;
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24.98%;
          flex: 0 1 24.98%;
  padding: 10px;
  margin: 0 30px 0 0;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  max-width: 215px;
}

.clients__item img {
  margin: 0 auto;
}

.clients__item:not(:last-child) {
  margin-bottom: 30px;
}

.review {
  background-color: #f4f4f4;
}

.review__container {
  padding: 55px 0 70px 0;
}

.review__title {
  font-size: 27px;
  color: rgb(49, 49, 49);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.review__images .swiper-pagination {
  bottom: 0;
}

.review__images .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  line-height: 20;
  font-size: 14px;
  background-color: #000;
}

.review__images .swiper-button-prev::after,
.review__images .swiper-button-next::after {
  color: #fea413;
  font-size: 30px;
}

.contacts {
  position: relative;
}

.block-contacts__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__body {
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 33px;
  background-color: #fff;
  width: 316px;
  height: 391px;
}

.contacts__address-icon {
  padding-right: 13px;
}

.contacts__style {
  font-size: 18px;
  color: rgb(55, 55, 55);
  line-height: 1;
}

.contacts__address-item:not(:last-child) {
  padding-bottom: 13px;
}

.contacts__address-block {
  padding-bottom: 31px;
}

.block-contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__address-phone {
  padding-right: 13px;
}

.contacts__phone-block {
  padding-bottom: 25px;
}

.contacts__phone-text {
  font-weight: bold;
}

.contacts__phone-tel {
  padding-bottom: 14px;
}

.block-contacts__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__email-icon {
  padding-right: 13px;
}

@media (max-width: 991.98px) {
  .making__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 40px 0;
    margin: 0 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .body-making {
    max-width: 774px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767.98px) {
  .clients__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (max-width: 532.98px) {
  .offer__input {
    max-width: 265px;
  }

  .offer {
    padding: 35px 5px;
  }

  .offer__title {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .offer__title span {
    font-size: 20px;
  }

  .offer__label-number {
    margin-bottom: 14px;
  }
}