@charset "UTF-8";

body {
  background: #fafafa;
}

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

body {
  height: 100vh;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=__container] {
  max-width: 1087px;
  margin: 0px auto;
  padding: 0 15px;
}

/* PC */

/* TABLET */

[class*=__container] {
  max-width: 750px;
}

/* MOBILE */

[class*=__container] {
  max-width: none;
}

/* MOBILE SMALL*/

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #252B42;
}

.menu__body {
  margin: 0 0 0 132px;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin: 0 21px 0 0;
}

.menu__item {
  padding: 5px 0;
}

.menu__link {
  text-decoration: none;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-block {
  position: relative;
}

.main-block__body {
  padding: 80px 0 191px 0;
  max-width: 509px;
  position: relative;
  z-index: 2;
}

.main-block__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 138%;
  letter-spacing: 0.2px;
}

.main-block__text {
  padding: 35px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
}

.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-block__button:not(:last-child) {
  margin: 0 10px 0 0;
}

.main-block__button {
  padding: 10px 36px;
  background: #FF7B47;
  border-radius: 37px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.2px;
}

.main-block__button-border {
  background-color: rgba(28, 28, 28, 0);
  border: 1px solid #0D5C63;
  color: #0D5C63;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.services__body {
  position: relative;
  margin-top: -111px;
  z-index: 2;
}

.services__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.services__item {
  padding: 35px 40px;
  background-color: #fff;
  color: #fff;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.services__item-green {
  background-color: #0D5C63;
}

.item-service__icon {
  height: 38px;
  width: 48px;
}

.item-service__title {
  padding: 20px 0 13px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #252B42;
}

.item-service__title-green {
  color: #fff;
}

.item-service__text {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
  max-width: 224px;
}

.item-service__text-green {
  color: #fff;
}

.item-service__title {
  font-size: 20px;
}

.advantages__container {
  padding: 80px 0;
}

.advantages__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 10px;
}

.block__subtitle {
  max-width: 511px;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 50px;
}

.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px -30px;
}

.advantages__column {
  padding: 0 15px;
  margin: 0 0 30px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.advantages__item {
  text-align: center;
  padding: 30px 40px;
  background-color: #fff;
  height: 100%;
}

.advantages__item:not(:last-child) {
  margin: 0 10px 0 0;
}

.advantages__icon img {
  margin: 0 auto;
}

.advantages__value {
  margin: 10px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252B42;
}

.advantages__text {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
}

.practice {
  padding: 125px 0 80px 0;
}

.practice {
  padding: 40px 0 80px 0;
}

.practice {
  padding: 0 0 40px 0;
}

.practice__header {
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.practice__body {
  margin: 0px -20px -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.practice__column {
  padding: 0 20px;
  margin: 0 0 -30px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.item-practice {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.item-practice__content {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-practice__link {
  display: inline-block;
  text-decoration: none;
  padding: 0 0 15px 0;
}

.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252B42;
}

.item-practice__text {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
  display: block;
}

.item-practice__image {
  display: block;
  padding: 0 0 69% 0;
}

.whoweare {
  padding: 100px 0;
  background-color: #fff;
}

.whoweare__header {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.whoweare__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whoweare__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.25% 0;
}

.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.whoweare__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 0 0 120px;
}

.whoweare__title {
  text-align: left;
}

.whoweare__text {
  text-align: left;
}

.item-whoweare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-whoweare__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
}

.item-whoweare__icon:not(:last-child) {
  margin-right: 20px;
}

.item-whoweare__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-whoweare__title {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252B42;
}

.item-whoweare__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
  white-space: nowrap;
}

.clients {
  background-color: #FAFAFA;
}

.clients__container {
  padding: 50px 0;
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.667%;
          flex: 0 1 16.667%;
  margin: 0 auto;
  text-align: center;
  min-width: 150px;
}

.clients__item img {
  max-width: 100%;
  margin: 0 auto;
}

.subscribe {
  position: relative;
  background-color: #FAFAFA;
}

.subscribe::before {
  content: "";
  position: absolute;
  background-color: #252B42;
  height: 77px;
  width: 100%;
  bottom: 0px;
  left: 0;
}

.subscribe__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #17213C;
  border-radius: 2px;
  padding: 30px 50px;
  z-index: 2;
}

.subscribe__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 266px;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}

.subscribe__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__input {
  padding: 15px 0 15px 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
  color: #737373;
  border: 1px solid #fff;
  border-radius: 5px 0px 0px 5px;
}

.subscribe__button {
  padding: 15px 22.5px;
  background: #FF7B47;
  border: 1px solid #E6E6E6;
  border-radius: 0px 5px 5px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.getintouch {
  padding: 80px 0;
  background-color: #F3F3F3;
}

.getintouch__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.getintouch__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.getintouch__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  background-color: #fff;
}

.getintouch__item:hover {
  background-color: #252B42;
}

.getintouch__item:hover .item-getintouch__icon {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.getintouch__item:hover .item-getintouch__email {
  color: #fff;
}

.getintouch__item:hover .item-getintouch__label {
  color: #fff;
}

.getintouch__item:hover::after {
  content: "";
  position: absolute;
  background-color: #252B42;
  height: 30px;
  width: 100%;
  top: -30px;
  left: 0;
}

.getintouch__item:hover::before {
  content: "";
  position: absolute;
  background-color: #252B42;
  height: 30px;
  width: 100%;
  bottom: -30px;
  left: 0;
}

.item-getintouch__margin:not(:last-child) {
  margin-bottom: 15px;
}

.item-getintouch__icon {
  min-height: 72px;
}

.item-getintouch__email {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #252B42;
}

.item-getintouch__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252B42;
}

.item-getintouch__button {
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #FF7B47;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #FF7B47;
  border-radius: 5px;
}

.contact {
  background-color: #fff;
  padding: 40px 0;
}

.contact__body {
  margin: 0 15px;
}

.contact__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #252B42;
}

.contact__title:not(:last-child) {
  margin-bottom: 10px;
}

.contact__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.contact__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 40px;
  background: #FF7B47;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 200%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.contact__button:hover {
  background-color: #ff9267;
}

.footer__top {
  background-color: #17213C;
  padding: 50px 0;
}

.footer-main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.footer__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}

.footer__label:not(:last-child) {
  padding: 0px 0px 20px 0px;
}

.menu-footer__item:not(:last-child) {
  padding: 0px 0px 10px 0px;
}

.menu-footer__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.contacts-footer__item {
  padding-left: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.contacts-footer__item_phone {
  background: url("../img/footer/icons/01.svg") left no-repeat;
}

.contacts-footer__item_map {
  background: url("../img/footer/icons/02.svg") left no-repeat;
}

.contacts-footer__item_email {
  background: url("../img/footer/icons/03.svg") left no-repeat;
}

.contacts-footer__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.footer__container {
  padding: 45px 5px 25px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copy {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
}

.footer__copy:not(:last-child) {
  margin: 0 15px 0 0;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

.social__item img:not(:last-child) {
  padding: 0 20px 0 0;
}

@media (min-width: 767.98px) {
  .contact__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contact__text {
    padding: 0px 0px 20px 0px;
  }
}

@media (min-width: 1087px) {
  [class*=__container] {
    max-width: 1087px;
  }
}

@media (max-width: 1300px) {
  .main-block__image img {
    -o-object-position: right;
       object-position: right;
  }
}

@media (max-width: 1088px) {
  .whoweare__content {
    padding: 0 0 0 80px;
  }

  .whoweare__header {
    margin-bottom: 0;
  }
}

@media (max-width: 1087px) {
  [class*=__container] {
    max-width: 970px;
  }
}

@media (max-width: 1020px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 991.98px) {
  .menu__body {
    margin: 0 0 0 80px;
  }

  .services__item {
    padding: 25px 25px;
  }

  .advantages__container {
    padding: 30px 0;
  }

  .whoweare {
    padding: 50px 0 30px 0;
  }

  .whoweare__body {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .whoweare__video {
    padding: 0 0 56.25% 0;
  }

  .whoweare__video:not(:last-child) {
    margin-top: 50px;
  }

  .whoweare__content {
    padding: 0;
  }

  .whoweare__content .whoweare__text {
    text-align: center;
  }

  .getintouch {
    padding: 60px 0;
  }

  .getintouch__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .getintouch__item:hover::after {
    content: "";
    position: absolute;
    background-color: #252B42;
    height: 0;
    width: 100%;
    top: 0;
    left: 0;
  }

  .getintouch__item:hover::before {
    content: "";
    position: absolute;
    background-color: #252B42;
    height: 0;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

@media (max-width: 900px) {
  .clients__container {
    padding: 20px 0;
  }

  .clients__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .clients__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33%;
            flex: 0 1 33.33%;
    padding: 10px 0;
  }
}

@media (max-width: 767.98px) {
  .menu__body {
    margin: 0 0 0 60px;
  }

  .main-block__image {
    opacity: 0.5;
  }

  .services__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }

  .services__item {
    padding: 15px 10px;
  }

  .item-service__text {
    max-width: 500px;
  }

  .item-service__title {
    padding: 5px 0;
  }

  .practice__header {
    margin-bottom: 20px;
  }

  .item-practice__content {
    padding: 15px;
  }

  .header-block__subtitle {
    margin-bottom: 20px;
  }

  .whoweare {
    padding: 50px 0 30px 0;
  }

  .clients__item {
    min-width: 100px;
  }

  .subscribe__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .subscribe__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding-bottom: 10px;
    text-align: center;
  }

  .subscribe__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .subscribe__input {
    padding: 10px 0 10px 15px;
  }

  .subscribe__button {
    padding: 10px 15.5px;
  }

  .getintouch {
    padding: 30px 0;
  }

  .contact {
    padding: 25px 0;
  }

  .contact__text {
    padding: 0px 0px 20px 0px;
  }

  .footer-main__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33%;
            flex: 0 1 33.33%;
  }

  .footer__column:not(:last-child) {
    padding: 0 0 20px 0;
  }
}

@media (max-width: 671.98px) {
  .getintouch__item {
    padding: 30px;
  }
}

@media (max-width: 560px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .advantages__item {
    padding: 20px 30px;
  }

  .advantages__column {
    padding: 0 10px;
    margin: 0 0 20px 0;
  }

  .practice__header {
    margin-bottom: 10px;
  }

  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0 10px;
    margin: 0 0 20px 0;
  }

  .practice__item {
    padding: 20px 30px;
  }

  .whoweare {
    padding: 20px 0;
  }
}

@media (max-width: 559.98px) {
  .footer__label {
    font-size: 14px;
  }

  .footer__label:not(:last-child) {
    padding: 0px 0px 10px 0px;
  }

  .contacts-footer__item {
    font-size: 12px;
  }

  .contacts-footer__item:not(:last-child) {
    margin: 0px 0px 5px 0px;
  }

  .menu-footer__link {
    font-size: 12px;
  }

  .menu-footer__item:not(:last-child) {
    padding: 0px 0px 5px 0px;
  }

  .footer__container {
    padding: 25px 5px 15px 5px;
  }

  .social__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .social__item:not(:last-child) {
    margin: 0px 20px 0px 0px;
  }

  .social__item img:not(:last-child) {
    padding: 0 10px 10px 0;
  }
}

@media (max-width: 479.98px) {
  .menu__body {
    margin: 0 0 0 40px;
  }

  .main-block__title {
    font-size: 43px;
  }

  .main-block__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .main-block__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .main-block__button:not(:last-child) {
    margin: 10px 0;
  }

  .services__item {
    padding: 10px 10px;
  }

  .subscribe__input {
    padding: 10px 0 10px 15px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}